node_modules/
dist/
build/
.DS_Store
*.log
npm-debug.log*
.env
.env.*local

# Database
*.sqlite

# User data exports
backend/users.json
backend/users.txt

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Temp
.temp
.tmp
node_modules
